body {
    background-image: url(https://i.imgur.com/tynthBG.jpeg);
    background-size: 1250px 750px;
  
    /*
    background-repeat: no-repeat;
    height: 1366px;
    width: 2396px;
    background-color: aqua;
    */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.button-wrapper {
    grid-row: 3;
    grid-column: 1 / span 1;
    color: red;
}

.game-title {
    color: red;
    font-weight: bold;
}

.message-display {
    color: red;
}

.stats-display {
    color: red;
}
/*
can do value bars w/ bootstrap
*/